*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}

/* Login Area */
.main{
  height:75vh;
  background-color: white;
}
.formarea{
  margin-top: 10vh;
}
h1{
  font-weight: 600;
  margin-top: 10vh;
}
a{
  font-weight: 600;
  text-decoration: none;
}
.error{
  text-align: left !important;
  color:red;
  padding-top: .3rem;
}
p{
  font-weight: 300;
  font-size: .8rem;
}
.loginpage{
  margin:13vh 15vw 0px 15vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bot{
  display: flex;
  justify-content: space-between;
}
.check{
  text-align: left !important;
}
h5{
  margin-top: 8vh !important;
}

/* Loading Screen */
.spin{
  width:15vw;
  height:15vw;
}
.loading{
  justify-content: center;
  align-items: center;
  align-self: center;
  height:100vh;
}
.loading h1{
  font-size: 5rem;
}

/* Password Toggler */
.passArea{
  position: relative;
}
.eyeToggle{
  position: absolute;
  top:1.4vh;
  right:3.7vw;
  opacity: .5;
}
.eyeToggle:hover{
  opacity: 1;
}
