/* Topbar */
#todoTop{
  background-color: rgb(11, 94, 215);
  color:white;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  border-left: 2px solid white;
}
#logout,#delBtn{
  font-size: 2rem;
  color:white;
  transition: .5;
}
#logout:hover,#delBtn:hover{
  color:rgb(143, 255, 255)
}
h1{
  font-weight: 700;
}

/* Notes */
#notes{
flex-wrap: wrap;
overflow-y: hidden;
height: 88vh;
}
.note,.addNote{
  background-color: white;
  height:38vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  width:47.8%;
  margin:.5vw;
  transition: .5s;
  overflow-y: hidden;
}
.topNote{
  justify-content: space-between;
}
.exit{
font-size: 1.5rem;
}
.exit:hover{
  color:grey
}

/* Add Note */
.addNote{
  opacity: .4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.addNote:hover{
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}
.addIcon{
  width:100%;
  color:#0B5ED7;
  font-size: 8rem;
  align-self: center;
  text-align: center;
}
.none{
  display: none;
  visibility: hidden;
}

#noteText{
  resize: none;
  overflow-y: hidden;
}
.textArea{
  resize: none;
  overflow-y: hidden;
  border:none;
}
