*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.main{
    margin-top: 15vh !important;
    height:65vh;
    margin:auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.formarea{
    margin-top: 80px;
}
h1{
    font-weight: 600;
}
a{
    font-weight: 600;
    text-decoration: none;
}
.error{
    text-align: left !important;
    
}
p{
    font-weight: 300;
    font-size: .8rem;
}